# Copy this to .env on the VM and fill in real values.
# .env is gitignored 

DOCKERHUB_USER=ceoemyrex

DB_USER=formflow
DB_PASSWORD=kS+jn1YxTsLJagaTwfzgXnPSEk4NVdjY
DB_NAME=formflow

JWT_SECRET=YMiFUTXzBEdVVs7evaQ7cWzjVGrKI/XH

# These two are set automatically by the CI deploy job, not by hand:
BACKEND_TAG=sha-local
FRONTEND_TAG=sha-local